CSS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f8f8;
    padding-top: 4rem;
}

.project-management-board{
    width:80%;
    height: auto;
    background-color: white;
    border:  2px solid #f3f3f3;
    margin: 0 auto;
    padding: 2rem;
    border-radius:0.7rem;
}

.project-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f7f7f7;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.left-list-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: center;
}

.list-title-section{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.6rem;
}

.title-container{
    width: fit-content;
    height: auto;
}

.title-container h1{
    font-size: 1rem;
    font-weight: bold;
    color:#6d6d6d;
    letter-spacing: 0.25px;
}

.small-button-container{
    width: fit-content;
    height: auto;
    padding: 0.2rem 0.5rem;
    background-color: #eefff6;
    border-radius: 1rem;
    border: 1px solid #48b389;
}

.small-button-container p{
    font-size: 0.8rem;
    color: #2C7F5C;
}

.bottom-left-content{
    width: fit-content;
    height: auto;
}

.bottom-card-text{
    width: fit-content;
    height: auto;
}

.bottom-card-text p{
    font-size: 0.8rem;
    color: #9B9B9B;
}

.right-list-container{
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    align-items:center ;
}

.right-button-container{
    width: fit-content;
    height: auto;
}

.right-button-container button{
    background-color: white;
    border: 2px solid #e3e3e3;
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-weight: bold;
    color: grey;
}

.right-icon-container{
    width: fit-content;
    height: auto;
}

.right-icon-container img{
    width: 1.5rem;
    height: 1.5rem;
}


@media (max-width: 768px){
    
    .project-management-board{
        width:94%;
        height: auto;
        background-color: white;
        border:  2px solid #f3f3f3;
        margin: 0 auto;
        padding: 2rem;
        border-radius:0.7rem;
    }

    .right-button-container{
        display: none;
    }

    .right-button-container button{
        display: none;
    }


}